@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background: linear-gradient(#31B7C2, #7BC393);
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container{
    padding:50px;
    box-shadow: 1px 5px 15px #025e83;
    border-radius: 6px;
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size:24px;
}
hr{
    width:100px;
    margin:10px auto;
}
label{
    font-size:18px;
}
input{
    width:100%;
    height:40px;
    margin-top:5px;
    margin-bottom:10px;
    border:1px solid #e8e8e8;
    padding:10px;
}
input:active{
    border:1px solid #e8e8e8;
}
input:focus {
    outline:none;
  }
button{
    padding:15px 30px;
    color:white;
    background-color: black;
    border:none;
    cursor:pointer;
    height:50px;
    transition:all 150ms ease-in;
    text-transform: uppercase;
}
button:hover{
    background: #AA2B67;
    color:white;
}
select{
    width:100%;
    height:40px;
    padding:10px;
    border:1px solid #e8e8e8;
    margin-top:5px;
    margin-bottom:10px;
}
select:focus{
    outline:none;
}
@media screen and (max-width: 600px) {
    /* Styles for smaller screens */
    h1 {
      font-size: 20px;
    }
    
    input,
    select {
      font-size: 14px;
    }
    
    button {
      font-size: 16px;
    }
    
    .container {
    padding: 40px;
    }
    
    input,
    select {
    width: 100%;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #e8e8e8;
    padding: 8px;
    }
    
    button {
    padding: 15px 30px;
    height: 40px;
    }
    
    select {
    height: 40px;
    padding: 8px;
    }
  }